/* Font importing */
@font-face {
	font-family: Geist;
	/* Path to the font file */
	src: url(fonts/geist/Geist-Regular.ttf);
}

@font-face {
	font-family: GeistBlack;
	/* Path to the font file */
	src: url(fonts/geist/Geist-Black.ttf);
}

@font-face {
	font-family: Vujahday;
	/* Path to the font file */
	src: url(fonts/VujahdayScript-Regular.ttf);
}

/* Global CSS variables */
:root {
	--blue1: #042241;
	--blue2: #133955;
	--blue3: #205068;
	--blue4: #2d687c;
	--blue5: #529cb5;

	/* Fallback fonts */
	--fallback_fonts: arial, sans-serif, serif;
}

/* Base elements */
body {
	/* Default fonts */
	font-family: Geist, var(--fallback_fonts);

	/* Removes default padding & margin */
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 2.5rem;
}

footer {
	background-color: var(--blue1);
	color: whitesmoke;
}

a {
	color: var(--blue5);
}

img,
video {
	/* Corner rounding */
	border-radius: 1rem;

	/* Ensures the content of the element is contained within its container */
	object-fit: contain;
}

b {
	/* Bold text styles */
	font-family: GeistBlack;
	color: var(--blue4);
	font-size: larger;
}

.spacer {
	/* Adds 4rem worth of new lines when added */
	/* Example use: <div class="spacer"></div> */
	margin: 4rem;
}

.full-width-image {
	/* Makes the image extend 100% across its container */
	width: 100%;
}

/* Navbar */
.navbar {
	/* Ensures the navbar is on top of other elements */
	z-index: 2222;

	/* Makes it so that the home link and nav links are separated */
	justify-content: space-between;

	/* Fixes the navbar's position at the top of the page */
	position: fixed;

	width: 100%;
	background-color: var(--blue1);
	opacity: 80%;
	display: flex;
	align-items: center;
	padding: 1rem;
}

.home-link {
	padding: 0.5rem;
	text-decoration: none;
	color: whitesmoke;
}

.nav-link {
	padding: 0.5rem;
	text-decoration: none;
	color: whitesmoke;
}

/* Index page links (link under the circle images) */
.index-links {
	text-align: center;
}

/* Hero image */
.index-hero-image {
	/* Aligns the background image to the center */
	background-position: center;

	/* Scales the background image to cover the entire container */
	background-size: cover;

	background-image: url(images/self_taken_images/main_hero-image.png);
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styles for the hero image on the geyser page */
.geyser-hero-image {
	/* Aligns the background image to the center */
	background-position: center;

	/* Scales the background image to cover the entire container */
	background-size: cover;

	background-image: url(images/self_taken_images/geyser_hero.jpeg);
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styles for the hero image on the geothermal page */
.geothermal-hero-image {
	/* Aligns the background image to the center */
	background-position: center;

	/* Scales the background image to cover the entire container */
	background-size: cover;

	background-image: url(images/self_taken_images/geothermal_hero.png);
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styles for the hero image on the mudpool page */
.mudpool-hero-image {
	/* Aligns the background image to the center */
	background-position: center;

	/* Scales the background image to cover the entire container */
	background-size: cover;

	background-image: url(images/self_taken_images/mudpool_hero.png);
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Hero text */
.hero-text {
	color: whitesmoke;
	font-family: Vujahday, var(--fallback_fonts);
	text-align: center;
	width: 100%;
	font-size: 8rem;
}

/* Grid layouts */
/* 2x1 grid */
.two-by-one {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

/* 3x1 grid */
.three-by-one {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

/* 1x2 grid */
.one-by-two {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

/* 3x2 grid for index and geyser pages */
.index-three-by-two,
.three-by-two {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 0.2fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

/* 2x2 grid for geothermal valleys */
.two-by-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

/* Centering */
.centercontainer {
	/* Height & width to 100% of its container */
	height: 100%;
	width: 100%;
	text-align: center;

	display: table;
}

.verticalcenter {
	/* Aligns content vertically to the middle */
	vertical-align: middle;

	display: table-cell;
	padding: 2rem;
	line-height: 2;
}

/* Headers */
.header {
	font-family: Vujahday, var(--fallback_fonts);
	padding: 0;
	margin: 0;
}

/* Styles for centered header elements */
.centerheader {
	font-family: Vujahday, var(--fallback_fonts);
	padding: 0;
	margin: 0;
	text-align: center;
}

/* Containers and dividers */
.container {
	padding: 2rem;
	line-height: 2;
}

/* Circular images */
.circle-images img {
	width: 100%;

	/* Clips the image into a circle */
	clip-path: circle(40%);

	/* Border radius to 100% to make circle borders */
	border-radius: 100%;

	/* Includes padding and border in the element's total width and height */
	box-sizing: border-box;

	border-style: solid;
	border-width: 3.3vw;
	border-color: var(--blue2);
}

/* Call-to-action section */
.cta {
	background-color: var(--blue2);
	height: 200px;
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
}

/* Styles for the text in the call-to-action section */
.cta-text {
	color: whitesmoke;
	font-family: Vujahday, var(--fallback_fonts);
	font-size: 2rem;
}

/* Styles for the button in the call-to-action section */
.cta-button {
	background-color: var(--blue3);
	font-size: 1rem;
	font-family: Geist, var(--fallback_fonts);
	border-radius: 1rem;
	padding: 1rem;
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
}

/* Icons */
.social {
	margin-right: 1.5rem;
	text-decoration: none;
}

/* Class for centering icons */
.centericons {
	margin-left: auto;
	margin-right: auto;
}

/* Mudpool video */
.mudpoolvideo {
	width: 80%;
}
